/**/
.container,#backcor{
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.linha{
  margin-top: 10px;
}
#carrito {
  width: 0%;
  height: 30px;
  text-align: right;
  line-height: 30px;
}